{% extends "base-admin.html" %}

{% block title %}Profile Management{% endblock %}
{% block head %}
{{ parent() }}
<link href="/assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Profile  <small>management</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <form action="/profile" method="post" id="perfilForm">
            <input type="hidden" name="id_profile" id="id_profile" value="{{perfil.id_profile}}">
            <div class="card-body">
              <div class="validity-summary-container"><ul></ul></div>
              {% include 'flash-message.html' %}
              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="name">Name:</label>
                  <input type="text" class="form-control" value="{{perfil.name}}" name="name">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <center>
                    <input type="submit" class="btn btn btn-danger" value="Save">
                  </center>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <form id="excluiForm" name="excluiForm" action="" method="post">
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for perfil in perfis %}
                  <tr id="tr{{perfil.id_profile}}">
                    <td>{{perfil.id_profile}}</td>
                    <td>{{perfil.name}}</td>
                      <td>
                        <button class="btn btn-primary bteditar" id="{{perfil.id_profile}}" type="button">
                          Edit
                        </button>
                        <button class="btn btn-danger btexcluir" id="{{perfil.id_profile}}" type="button">
                          Delete
                        </button>
                      </td>
                  </tr>
                {% else %}
                  <tr>
                      <td colspan="7">Nenhum perfil.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer%}
{{ parent() }}

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/buttons.bootstrap.min.js"></script>
<script src="/assets/js/responsive.bootstrap.js"></script>
<script src="/assets/js/buttons.flash.min.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/buttons.print.min.js"></script>

<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>
<script>
  $(document).ready(function(){
    $("body").on("click", ".btexcluir", function(){
         var id = $(this).attr('id');
         var url = "/profile/" + id;
         $("#excluiForm").attr('action', url).submit();
    });

    $("body").on("click", ".bteditar", function(){
      var id = $(this).attr('id');
          window.location = "/profile/" + id;
    });
  });
</script>
{% endblock %}
