{% extends "base-admin.html" %}

{% block title %}User Management{% endblock %}
{% block head %}
{{ parent() }}
<link href="/assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/adjustments.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>User  <small>register</small></h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <form action="/user" method="post" id="usuarioForm">
          <input type="hidden" name="id" id="id" value="{{session.usuarioCad.id_user}}">
          <div class="card-body">
            <div class="validity-summary-container"><ul></ul></div>
            {% include 'flash-message.html' %}
            <div class="row">
              <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="form-label" for="name">Username:</label>
                <input type="text" name="username" class="form-control" id="username" value="{{session.usuarioCad.username}}" >
              </div>
              <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="form-label" for="email">E-mail:</label>
                <input type="text" name="email" id="email" class="form-control" value="{{session.usuarioCad.email}}">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="form-label" for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control" value="">
              </div>
              <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="form-label" for="password">Repeat Password:</label>
                <input type="password" id="repeatPassword" class="form-control" name="repeatPassword" value="" >
              </div>
            </div>
            <div class="form-group">
              <label for="profile" class="form-label">Choose the profile for this user:</label>
              <select name="id_profile" class="form-control custom-select" value="session.usuarioCad.id_profile" id="profile">
                <option value="">[--SELECT--]</option>
              {% for perfil in perfis %}
                {% if session.usuarioCad.id_profile == perfil.id_profile %}
                  <option value="{{perfil.id_profile}}" id="{{perfil.id_profile}}" selected="selected">{{perfil.name}}</option>
                {% else %}
                  <option value="{{perfil.id_profile}}" id="{{perfil.id_profile}}">{{perfil.name}}</option>
                {% endif %}
              {% endfor %}
              </select>
            </div>
            <center>
              <input type="submit" class="btn btn btn-danger" value="Save">
            </center>
          </div>
        </form>
        <form id="excluiForm" name="excluiForm" action="" method="post">
        </form>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
          <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Profile</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {%for usuario in usuarios %}
                <tr id="tr{{usuario.id_user}}">
                  <td>{{usuario.id_user}}</td>
                  <td>{{usuario.username}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.nameprofile}}</td>
                  <td>
                    {% if usuario.id_profile == 3 %}
                      <a href="/client/edit/{{usuario.client.id_client}}">Edit on clients page.</a>
                    {% else %}
                      {% set disabled = "false" %}
                      {% if usuario.id_user == 1 %}
                        {% set disabled = "disabled" %}
                      {% endif %}
                      <button class="btn btn-primary bteditar" id="{{usuario.id_user}}" type="button" {{disabled}}>
                        Edit
                      </button>
                      <button class="btn btn-warning bttoggleativa" id="{{usuario.id}}" data-ativo={{usuario.status}} type="button" {{disabled}}>
                        {% if usuario.status == 1 %} Disactivate {% else %} Activate {% endif %}
                      </button>
                      <button class="btn btn-danger btexclusaomodal" data-toggle="modal" id="{{usuario.id_user}}" type="button" {{disabled}}>
                        Delete
                      </button>
                    {% endif %}
                  </td>
                </tr>
                {% else %}
                  <tr>
                      <td colspan="7">No user registered.</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
              </div>
            </div>
            </div>
    </div>	novo cliente
  </div>
  {% include ('./modal-exclusao.html') %}
{% endblock %}
{% block footer%}
{{ parent() }}
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/buttons.bootstrap.min.js"></script>
<script src="/assets/js/responsive.bootstrap.js"></script>
<script src="/assets/js/buttons.flash.min.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/buttons.print.min.js"></script>

<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>
<script>
  $(document).ready(function(){
    $.validity.setup({ outputMode:"summary" });

    $('#usuarioForm').validity(validationUser);

  $("body").on("click", ".bttoggleativa", function(){
      let ativo = $(this).attr('data-ativo');
      var id = $(this).attr('id');
      let url = "";
      if(ativo == "0")
        url = "/user/activate/" + id;
      if(ativo == "1")
          url = "/user/disactivate/" + id;
     $("#excluiForm").attr('action', url).submit();
  });

    $("body").on("click", ".btexcluir", function(){
         var id = $(this).attr('id');
         var url = "/user/" + id;
         $("#excluiForm").attr('action', url).submit();
    });

    $("body").on("click", ".btexclusaomodal", function(){
      var id = $(this).attr('id');
      setDeleteModal(id, "Do you really want to delete this user?")
    });

    $("body").on("click", ".bteditar", function(){
      var id = $(this).attr('id');
          window.location = "/user/" + id;
    });
  });
</script>
{% endblock %}
