.validity-summary-container ul {
  padding: 0 15px;
}
.validity-summary-container li {
  background-color: #eab8c1fc;
  color:#710909;
  padding: 0px 30px;
  list-style-type: none;
}
.validity-summary-container li:before{
  font-family: "FontAwesome";
  content:"\f00d";
  margin-right: 5px;
}

#fulldetailsmodal dl{
  font-size: 1.3em;
}
#fulldetailsmodal dt{
  float: left;
  margin-right: 5px;
}

.category-list ul{
  list-style-type: none;
}
