{% extends "base-admin.html" %}

{% block title %}Product Category Management{% endblock %}
{% block head %}
{{ parent() }}
  <link href="/assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% macro recursiveSelectCategory(children, count, edit_id_parent) %}
  {% set pre = '- ' %}
  {% for i in range(1, count)%}
    {% set pre = pre ~ '- ' %}
  {% endfor %}
  {% for child in children %}
    {% if edit_id_parent == child.id_category %}
      <option value="{{child.id_category}}" label="- {{child.name}}" selected >
    {% endif %}
    <option value="{{child.id_category}}">{{pre}} {{child.name}}</option>
    {% if child.children|length > 0 %}
      {% set count = count + 1 %}
      {{ _self.recursiveSelectCategory(child.children, count, edit_id_parent) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Product Category <small>management</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>8
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <form action="/category" method="post" id="categoryForm">
            <input type="hidden" name="id_category" id="id_category" value="{{category.id_category}}">
            <div class="card-body">
              <div class="validity-summary-container"><ul></ul></div>
              {% include 'flash-message.html' %}
              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="name">Category:</label>
                  <input type="text" class="form-control" value="{{category.name}}" name="name">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="name">Parent Category:</label>
                  <select name="id_cat_parent" class="form-control" value="{{category.id_cat_parent}}">
                    <option value="">[-- NO PARENT --]</option>
                    {% for catItem in categories %}
                      {% if category.id_cat_parent == catItem.id_category %}
                        <option value="{{catItem.id_category}}" label="- {{catItem.name}}" selected >
                      {% endif %}
                      <option value="{{catItem.id_category}}" label="- {{catItem.name}}">
                        {% if catItem.children|length > 0 %}
                          {{ _self.recursiveSelectCategory(catItem.children, 1,  category.id_cat_parent) }}
                        {% endif %}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <center>
                  <input type="submit" class="btn btn btn-danger" value="Save">
                </center>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <form id="excluiForm" name="excluiForm" action="" method="post">
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Parent</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for cat in listCategories %}
                  <tr id="tr{{cat.id_category}}">
                    <td>{{cat.id_category}}</td>
                    <td>{{cat.name}}</td>
                    <td>{{cat.parent}}</td>
                      <td>
                        <button class="btn btn-primary bteditar" id="{{cat.id_category}}" type="button">
                          Edit
                        </button>
                        <button class="btn btn-danger btexclusaomodal" id="{{cat.id_category}}" type="button">
                          Delete
                        </button>
                      </td>
                  </tr>
                {% else %}
                  <tr>
                      <td colspan="7">No category registered.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include ('./modal-exclusao.html') %}
{% endblock %}
{% block footer%}
{{ parent() }}

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/buttons.bootstrap.min.js"></script>
<script src="/assets/js/responsive.bootstrap.js"></script>
<script src="/assets/js/buttons.flash.min.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/buttons.print.min.js"></script>

<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>
<script>
  $(document).ready(function(){

    $("body").on("click", ".btexclusaomodal", function(){
      var id = $(this).attr('id');
      setDeleteModal(id, "Do you really want to delete this category?")
    });

    $("body").on("click", ".btexcluir", function(){
         var id = $(this).attr('id');
         var url = "/category/" + id;
         $("#excluiForm").attr('action', url).submit();
    });

    $("body").on("click", ".bteditar", function(){
      var id = $(this).attr('id');
          window.location = "/category/" + id;
    });
  });
</script>
{% endblock %}
