{% extends "base-admin.html" %}

{% block title %}Add Product{% endblock %}
{% block head %}
{{ parent() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/css/daterangepicker.css">
<link href="/assets/summernote/summernote.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

{% macro recursiveCheckCategory(children, edit_id_parent) %}
  {% for child in children %}
    <li>
    {% if edit_id_parent == child.id_category %}
      <input type="checkbox" class="flat" value="{{child.id_category}}" label="- {{child.name}}" checked >
    {% else %}
      <input type="checkbox" class="flat" value="{{child.id_category}}">
    {% endif %}
      {{child.name}}
    {% if child.children|length > 0 %}
      <ul>
        {{ _self.recursiveCheckCategory(child.children, edit_id_parent) }}
      </ul>
    {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Product  <small>registration</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." >
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button >
            </span>
          </div > --->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <form action="/product/add" method="post" id="productForm" enctype="multipart/form-data">
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
          <div class="x_panel">
            <input type="hidden" name="id_product" id="id_product" value="{{product.id_product}}">
            <input type="hidden" name="id_user" id="id_user" value="{{session.user.id_user}}">
            <div class="card-body">
              <div class="validity-summary-container"><ul></ul></div>
              {% include 'flash-message.html' %}
              <div class="row">
                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="form-label" for="title">Title:</label>
                  <input type="text" name="title" class="form-control" id="title" value="{{product.title}}">
                </div>
                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="form-label" for="friendly_url">Friendly URL:</label>
                  <div class="input-group ">
                    <input type="text" name="friendly_url" class="form-control" id="friendly_url" value="{{product.friendly_url}}" readonly>
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-edit-url" type="button">Edit</button>
                    </span>
                  </div>
                </div>
                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="form-label" for="descricao">Description:</label>
                  <textarea name="descricao" id="descricao" class="form-control">
                    {{product.descricao}}
                  </textarea>
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="total_qtt">Total Quantity:</label>
                  <input type="number" name="total_qtt" class="form-control" id="total_qtt" value="{{product.total_qtt}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="sell_qtt">Quantity To Sell:</label>
                  <input type="number" name="sell_qtt" class="form-control" id="sell_qtt" value="{{product.sell_qtt}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="rental_qtt">Quantity To Rent:</label>
                  <input type="number" name="rental_qtt" class="form-control" id="rental_qtt" value="{{product.rental_qtt}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="width">Width:</label>
                  <input type="number" name="width" class="form-control" id="width" value="{{product.width}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="depth">Depth:</label>
                  <input type="number" name="depth" class="form-control" id="depth" value="{{product.depth}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                  <label class="form-label" for="height">Height:</label>
                  <input type="number" name="height" class="form-control" id="height" value="{{product.height}}">
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                    <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                      <label class="form-label" for="original_price">Original Value (CA$):</label>
                      <input type="text" name="original_price" class="form-control currency" id="original_price" value="{{product.original_price}}">
                    </div>
                  </div>
                  <div class="form-group col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <h4>Activate</h4>
                    <input type="checkbox" class="js-switch" name="status" value="1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="x_panel">
            <h4>Images</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <h5>Main Picture</h5>
                <input id="main-pic"
                        name="main_pic"
                        type="file"
                        class="file main-pic"
                        data-browse-on-zone-click="true"
                        data-allowed-file-extensions='["png", "jpg","jpeg", "webp"]'>

                <div class="main-img-title">

                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <h5>Product Gallery</h5>
                <input id="gallery-pictures"
                        name="gallery_pictures[]"
                        type="file"
                        class="file gallery-pictures"
                        multiple
                        data-show-upload="false"
                        data-show-caption="true"
                        data-msg-placeholder="Select {files} for upload..."
                        data-browse-on-zone-click="true"
                        data-allowed-file-extensions='["png", "jpg", "jpeg", "webp"]'>

                <div class="img-titles">

                </div>
              </div>
            </div>

            <center>
              <input type="submit" class="btn btn btn-danger" value="Save Product">
            </center>

          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <div class="x_panel">
            <h4>QR Codes</h4>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="qr-code-img">
              </div>
              <div class="input-group">
                <input type="hidden" name="rent_qr_code_img" class="address-img" id="rent_qr_code_img" value="{{product.rent_qr_code_img}}">
                <input type="hidden" name="rent_code" class="rent_code" value="{{product.rent_code}}">
                <input type="text"class="form-control rent_code" id="rent_code" placeholder="Rent Code" value="{{product.rent_code}}">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-rent-qr" type="button">Generate</button>
                </span>
              </div>
            </div>
            <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
              <div class="qr-code-img">
              </div>
              <div class="input-group">
                <input type="hidden" name="inv_qr_code_img" class="address-img" id="inv_qr_code_img" value="{{product.inv_qr_code_img}}">
                <input type="hidden" name="inventory_n" class="inventory_n" value="{{product.inventory_n}}">
                <input type="text" class="form-control" placeholder="Inventory #" id="inventory_n" value="{{product.title}}">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-inv-qr" type="button">Generate</button>
                </span>
              </div>
            </div>
          </div>
          <div class="x_panel category-list">
            <h4> Categories </h4>
                <ul>
                {% for catItem in categories %}
                  <li class = "checkbox">
                  {% if category.id_cat_parent == catItem.id_category %}
                    <input type="checkbox" class="flat" value="{{catItem.id_category}}" selected >
                  {% else  %}
                    <input type="checkbox" class="flat" value="{{catItem.id_category}}">
                  {% endif %}
                  {{catItem.name}}
                  {% if catItem.children|length > 0 %}
                    <ul>
                      {{ _self.recursiveCheckCategory(catItem.children, category.id_cat_parent) }}
                    </ul>
                  {% endif %}
                  </li>
                {% endfor %}
                </ul>
           </div>
           <div class="x_panel">
             <h4> Tags </h4>
             <div class="input-group">
               <input type="text" name="search-tag" id="search-tag" placeholder="Search tag" class="form-control" >
               <span class="input-group-btn">
                 <button class="btn btn-success" id="add-tag" type="button">Add</button>
               </span>
             </div>
             <div class="tags-chosen">
             </div>
           </div>
           <div class="x_panel">
             <h4> Price </h4>
             <div class="panel panel-default">
               <div class="panel-body">
                 <div class="form-group col-12">
                   <label class="form-label" for="initial_rent_date">Weekly Rental Price Start Date:</label>
                   <input id="initial_rent_date" name="initial_rent_date" class="date-picker form-control"
                      placeholder="dd-mm-yyyy" type="date">
                 </div>
                 <div class="form-group col-12">
                   <label class="form-label" for="rent_weekly_price">Weekly Rental Price (CA$):</label>
                   <input type="text" name="rent_weekly_price" class="form-control currency" id="rent_weekly_price" >
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-body">
                 <div class="form-group col-12">
                   <label class="form-label" for="initial_sell_date">Selling Price Start Date:</label>
                   <input id="initial_sell_date" name="initial_sell_date" class="date-picker form-control"
                      placeholder="dd-mm-yyyy" type="date" >
                 </div>
                 <div class="form-group col-12">
                   <label class="form-label" for="sell_used_price">Used Item Selling Price (CA$):</label>
                   <input type="text" name="sell_used_price" class="form-control currency" id="sell_used_price" >
                 </div>
                 <div class="form-group col-12">
                   <label class="form-label" for="sell_new_price">New Item Selling Price (CA$):</label>
                   <input type="text" name="sell_new_price" class="form-control currency" id="sell_new_price" >
                 </div>
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-body">
                 <h5>Old prices</h5>

               </div>
             </div>
           </div>
        </div>
      </form>
    </div>
<!-- main end -->
  </div>
</div>

{% endblock %}
{% block footer%}
{{ parent() }}
  <script type="text/javascript" src="/assets/js/form.helper.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.autocomplete.min.js"></script>
  <script type="text/javascript" src="/assets/js/moment.min.js"></script>
  <script type="text/javascript" src="/assets/js/daterangepicker.js"></script>
  <script src="/assets/summernote/summernote.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
  <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
    This must be loaded before fileinput.min.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
  <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for
    HTML files. This must be loaded before fileinput.min.js -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/purify.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script -->
  <script src="/assets/js/product.form.js"></script>
{% endblock %}
