{% extends "base-admin.html" %}

{% block title %}Client information{% endblock %}
{% block head %}
{{ parent() }}
<link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/adjustments.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Client  <small>registration</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="/client/add" method="post" id="clientForm">
          <div class="x_panel">
            <input type="hidden" name="id_client" id="id_client" value="{{session.client.id_client}}">
            <input type="hidden" name="id_profile" id="id_profile" value="3">
            <input type="hidden" name="id_address" id="id_address" value="{{session.client.id_address}}">
            <input type="hidden" name="id_user" id="id_user" value="{{session.client.id_user}}">
            <div class="card-body">
              <h4> Login information </h4>
              <div class="validity-summary-container"><ul></ul></div>
              {% include 'flash-message.html' %}
              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="username">Username:</label>
                  <input type="text" name="username" class="form-control" id="username" value="{{session.client.username}}">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="email">E-mail:</label>
                  <input type="text" name="email" id="email" class="form-control" value="{{session.client.email}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="password">Password:</label>
                  <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <label class="form-label" for="password">Repeat Password:</label>
                  <input type="password" id="repeatPassword" class="form-control" name="repeatPassword" value="">
                </div>
              </div>

            </div>
          </div>
          <div class="x_panel">
            <div class="card-body">
              <h4> Client information </h4>
              <div class="row">
                <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <label class="form-label" for="name">Full name:</label>
                  <input type="text" name="name" class="form-control" id="name" value="{{session.client.name}}">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-5 col-lg-5 col-sm-12 col-xs-12">
                  <label class="form-label" for="phone_1">Telephone 1:</label>
                  <input type="text" name="phone_1" class="form-control phone" id="phone_1" value="{{session.client.phone_1}}" >
                </div>
                <div class="form-group col-md-5 col-lg-5 col-sm-12 col-xs-12">
                  <label class="form-label" for="phone_2">Telephone 2:</label>
                  <input type="text" name="phone_2" class="form-control phone" id="phone_2" value="{{session.client.phone_2}}">
                </div>
                <div class="form-group col-md-2 col-lg-2 col-sm-12 col-xs-6">
                  <label class="form-label" for="ext">Ext:</label>
                  <input type="text" name="ext" class="form-control" id="ext" value="{{session.client.ext}}">
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5>Address info</h5>
                  <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <label class="form-label" for="title">Address title:</label>
                      <input type="text" name="title" class="form-control" id="title" value="{{session.client.title}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-2 col-lg-2 col-sm-6 col-xs-6">
                      <label class="form-label" for="number">Street Number:</label>
                      <input type="text" name="number" class="form-control" id="number" value="{{session.client.number}}">
                    </div>
                    <div class="form-group col-md-7 col-lg-7 col-sm-12 col-xs-12">
                      <label class="form-label" for="street">Street Name:</label>
                      <input type="text" name="street" class="form-control" id="street" value="{{session.client.street}}">
                    </div>
                    <div class="form-group col-md-3 col-lg-3 col-sm-6 col-xs-6">
                      <label class="form-label" for="complement">Complement:</label>
                      <input type="text" name="complement" class="form-control" id="complement" value="{{session.client.complement}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-4 col-lg-4 col-sm-6 col-xs-6">
                      <label class="form-label" for="postal_code">Postal Code:</label>
                      <input type="text" name="postal_code" style="text-transform: uppercase;" class="form-control postal_code" id="postal_code" value="{{session.client.postal_code}}">
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-6">
                      <label class="form-label" for="city">City:</label>
                      <input type="text" name="city" class="form-control" id="city" value="{{session.client.city}}">
                    </div>
                    <div class="form-group col-md-2 col-lg-2 col-sm-6 col-xs-3">
                      <label class="form-label" for="province">Province:</label>
                      <input type="text" name="province" class="form-control" style="text-transform: uppercase;" id="province" value="{{session.client.province}}" maxlength="2">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <a href="/client/list" class="btn btn btn-info"> See All </a>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-right">
            <input type="submit" class="btn btn btn-danger" value="Save">
          </div>
        </form>
      </div>
    </div>


<!-- main end -->
  </div>
</div>

{% endblock %}
{% block footer%}
{{ parent() }}
<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>
<script>

$(document).ready(function(){
  $.validity.setup({ outputMode:"summary" });
  $('#clientForm').validity(validationClient);

});


$("body").on("click", ".btexcluir", function(){
     var id = $(this).attr('id');
     var url = "/user/" + id;
     $("#excluiForm").attr('action', url).submit();
});

</script>
{% endblock %}
