{% extends "base-admin.html" %}

{% block title %}Clients information{% endblock %}
{% block head %}
{{ parent() }}
<link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/adjustments.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Clients  <small>information</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_cont<form id="excluiForm" name="excluiForm" action="" method="post">

              <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone(s)</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>

                  {%for client in clientlist %}
                    <tr id="tr{{client.id_client}}">
                      <td>{{client.id_client}}</td>
                      <td>{{client.username}}</td>
                      <td>{{client.name}}</td>
                      <td>{{client.email}}</td>
                        {% set ext = "" %}
                        {% if client.ext !="" %}
                          {% set ext = 'Ext:' ~ client.ext %}
                        {% endif %}
                      <td>{{client.phone_1}} | {{client.phone_2}} {{ext}}</td>
                      <td>
                        <button class="btn btn-primary btfulldetails" id="{{client.id_client}}" type="button">
                          See Details
                        </button>
                        <button class="btn btn-warning bteditar" id="{{client.id_client}}" type="button">
                          Edit
                        </button>
                          <button class="btn btn-danger btexclusaomodal" data-toggle="modal" id="{{client.id_client}}" type="button">
                            Delete
                          </button>
                      </td>
                    </tr>
                    {% else %}
                      <tr>
                          <td colspan="7">No client registered.</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <form id="excluiForm" name="excluiForm" action="" method="post">
            </form>
          </div><script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        </div>
      </div>
    </div>
  </div>
  {% include ('./modal-exclusao.html') %}
  {% include ('./client/full-details-model.html') %}
{% endblock %}
{% block footer%}
{{ parent() }}
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/buttons.bootstrap.min.js"></script>
<script src="/assets/js/responsive.bootstrap.js"></script>
<script src="/assets/js/buttons.flash.min.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/buttons.print.min.js"></script>
<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>
<script>
  $(document).ready(function(){
    $.validity.setup({ outputMode:"summary" });

    $("body").on("click", ".btexcluir", function(){
         var id = $(this).attr('id');
         var url = "/client/delete/" + id;
         $("#excluiForm").attr('action', url).submit();
    });

    $("body").on("click", ".btexclusaomodal", function(){
      var id = $(this).attr('id');
      setDeleteModal(id, "Do you really want to delete this client?")
    });

    $("body").on("click", ".btfulldetails", function(){
      var id = $(this).attr('id');
      $.ajax({
        type: "GET",
        url: '/client/'+ id,
        dataType: 'json',
        success: setUpInfoModal,
        error: "alert(Oops, there was an error on processing your request.)"
      });
      $('#fulldetailsmodal').modal('show');
    });

    $("body").on("click", ".bteditar", function(){
      var id = $(this).attr('id');
          window.location = "/client/edit/" + id;
    });
  });


  const setUpInfoModal = function (obj) {
    let html = `
    <dl>
      <dt>Username:</dt>
      <dd>${obj.username}</dd>
      <dt>Full Name:</dt>
      <dd>${obj.name}</dd>
      <dt>E-mail:</dt>
      <dd>${obj.email}</dd>
      <dt>Phone 1:</dt>
      <dd>${obj.phone_1}</dd>
      <dt>Phone 2:</dt>
      <dd>${obj.phone_2}</dd>
      <dt>Ext:</dt>
      <dd>${obj.ext}</dd>
      <dt>Address:</dt>
      <dd>${obj.number} ${obj.street}, ${obj.complement}</dd>
      <dt>Postal Code:</dt>
      <dd>${obj.postal_code}</dd>
      <dt>City:</dt>
      <dd>${obj.city}</dd>
      <dt>Province:</dt>
      <dd>${obj.province}</dd>
      <dt>Date Recorded:</dt>
      <dd>${obj.date_recorded}</dd>
    </dl>
    `
    $('#fulldetailsmodal .modal-body').html(html)
  }
</script>
{% endblock %}
