<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">

    <!-- viewport meta <base href="http://localhost:8887/"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="furniture store">
    <meta name="keywords" content="">
    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/nprogress.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/custom.min.css" rel="stylesheet">
    <link href="/assets/css/pnotify/pnotify.css" rel="stylesheet">
    <link href="/assets/css/pnotify/pnotify.buttons.css" rel="stylesheet">
    <link href="/assets/css/pnotify/pnotify.nonblock.css" rel="stylesheet">
    <link href="/assets/css/iCheck/skins/green.css" rel="stylesheet">
    <link href="/assets/css/switchery.min.css" rel="stylesheet">
    <link href="/assets/css/adjustments.css" rel="stylesheet">
    {% endblock %}
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    {% include 'menu-admin.html' %}
    <div class="right_col" role="main">
    {% block content %}{% endblock %}
    <span id="mq-detector">
        <span class="visible-xs"></span>
        <span class="visible-sm"></span>
        <span class="visible-md"></span>
        <span class="visible-lg"></span>
    </span>
    </div>

    {% include 'rodape.html' %}
    {% block footer %}{% endblock %}
  </div>

  </body>
</html>
