<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <!--<base href="http://localhost:8887/">
     viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Furniture Store">
    <meta name="keywords" content="">
    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    {% endblock %}
</head>
	<body>

    {% block content %}{% endblock %}

    {% include 'rodape.html' %}

    {% block footer %}{% endblock %}

  </body>
</html>
