{% if flash('error') %}
      <div class="pull-right col-xs-12 col-md-12 alert alert-danger">
          <button class="close" data-dismiss="alert" type="button">×</button>
          {% for m in flash('error') %}
              {{m}}<br>
          {% endfor %}
      </div>
    {% endif %}
    {% if flash('sucess') %}
      <div class="pull-right col-xs-12 col-md-12 alert alert-success">
          <button class="close" data-dismiss="alert" type="button">×</button>
          <strong>Message: </strong>
          {% for m in flash('sucess') %}
              {{m}}<br>
          {% endfor %}
      </div>
  {% endif %}
