{% extends "base-admin.html" %}
{% block title %}Functionality Management{% endblock %}
{% block head %}
{{ parent() }}
<link href="/assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/adjustments.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>Functionality  <small>management</small></h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">G o!</button>
            </span>
          </div> --->
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row"><!-- row -->

      <div class="col-md-12 col-lg-12">
        <div class="x_panel">
          <form action="/functionality" method="post" id="funcionalidadeForm">
            <input type="hidden" name="id_functionality" id="id_functionality" value="{{funcionalidade.id_functionality}}">
            <div class="card-body">
              <div class="validity-summary-container"><ul></ul></div>
              {% include 'flash-message.html' %}
              <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <label class="form-label" for="url">URL:</label>
                    <input type="text" class="form-control" value="{{funcionalidade.url}}" name="url" id="url">
                  </div>
                  <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <label class="form-label" for="name">Name:</label>
                    <input type="text" class="form-control" value="{{funcionalidade.name}}" name="name" id="name">
                  </div>
                  <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <label for="perfil" class="form-label">Choose a category to this functionality:</label>
                    <select name="id_menu_category" class="form-control custom-select" id="category">
                      <option value="">[--SELECIONE--]</option>
                    {% for cat in categorias %}
                        {% if funcionalidade.id_menu_category == cat.id_menu_category %}
                          <option value="{{cat.id_menu_category}}" selected>{{cat.name}}</option>
                        {% else %}
                          <option value="{{cat.id_menu_category}}">{{cat.name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h5>Authorize Profiles:</h5>
                      {% for perfil in perfis %}
                          <div class="custom-control custom-checkbox">
                            {% if perfil.marcado %}
                              <input type="checkbox" name="perfilautorizado[]" value="{{perfil.id_profile}}" checked class="custom-control-input">
                            {% else %}
                              <input type="checkbox" name="perfilautorizado[]" value="{{perfil.id_profile}}" class="custom-control-input">
                            {% endif %}
                            <label class="custom-control-label">{{perfil.name}}</label>
                        </div>
                      {% else %}
                        No profile registered.<br><br>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="custom-control custom-checkbox">
                        {% if funcionalidade.show_menu == 1 %}
                          <input type="checkbox" name="show_menu" value="{{perfil.show_menu}}" checked class="custom-control-input">
                        {% else %}
                          <input type="checkbox" name="show_menu" value="{{perfil.show_menu}}" class="custom-control-input">
                        {% endif %}
                        <label class="custom-control-label">Show in the menu.</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <center>
              <input type="button" class="btn btn btn-danger btgravar" value="Save">
            </center>
          </form>
        </div>
      </div>
    </div>
    <form id="excluiForm" name="excluiForm" action="" method="post">
      <input type="hidden" name="id" value="{{funcionalidade.id_functionality}}">
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>URL</th>
                        <th>Name</th>
                        <th>Menu Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionalidade in funcionalidades %}
                        <tr id="tr{{funcionalidade.id_functionality}}" >
                          <td>{{funcionalidade.id_functionality}}</td>
                          <td>{{funcionalidade.url}}</td>
                          <td>{{funcionalidade.name}}</td>
                          <td>{{funcionalidade.categoria}}</td>
                            <td>
                              <button class="btn btn-primary bteditar" id="{{funcionalidade.id_functionality}}" type="button">
                                Edit
                              </button>
                              <button class="btn btn-danger btexclusaomodal" id="{{funcionalidade.id_functionality}}" type="button">
                                Delete
                              </button>
                            </td>
                        </tr>
                    {% else %}
                      <tr>
                          <td colspan="7">Nenhum funcionalidade.</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% include ('./modal-exclusao.html') %}
{% endblock %}

{% block footer%}
{{ parent() }}
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables.buttons.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/buttons.bootstrap.min.js"></script>
<script src="/assets/js/responsive.bootstrap.js"></script>
<script src="/assets/js/buttons.flash.min.js"></script>
<script src="/assets/js/buttons.html5.min.js"></script>
<script src="/assets/js/buttons.print.min.js"></script>

<script src="/assets/js/jquery.validity.min.js"></script>
<script src="/assets/js/jquery.validity.lang.en.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/assets/js/form.helper.js"></script>

<script>

  const validacao = function() {
      $('#url').require();
      $('#name').require();
      $('#category').require();
  }

  $(document).ready(function(){
    $.validity.setup({ outputMode:"summary" });

    $('.erro-perfil').remove();


    $("body").on("click", ".btgravar", function(){
        //$('#funcionalidadeForm').validity(validacao);
         var url = "/functionality";
         $("#funcionalidadeForm").attr('action', url).submit();
    });

    $("body").on("click", ".btexclusaomodal", function(){
      var id = $(this).attr('id');
      setDeleteModal(id, "Do you really want to delete this functionality?")
    });

    $("body").on("click", ".btexcluir", function(){
         var id = $(this).attr('id');
         var url = "/functionality/" + id;
         $("#excluiForm").attr('action', url).submit();
    });

    $("body").on("click", ".bteditar", function(){
      var id = $(this).attr('id');
      window.location = "/functionality/" + id;
    });
  });
</script>
{% endblock %}
