<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/admin" class="site_title"><i class="fa fa-paw"></i> <span>Início</span></a>
    </div>

    <div class="clearfix"></div>

		<!-- menu profile quick info -->
		<div class="profile clearfix">
		  <!-- <div class="profile_pic">
		    <img src="images/img.jpg" alt="..." class="img-circle profile_img">
		  </div> -->
		  <div class="profile_info">
		    <span>Bem vindo,</span>
		    <h2>{{usuario.username}}</h2>
		  </div>
		</div>
		<!-- /menu profile quick info -->

		<br />

		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
					{% set catant = '' %}
					{% for urlP in usuario.urlsPermitidas %}
            {% if catant != urlP.menu_category and loop.index > 1 %}
                  </ul>
                </li>
                <li><a><i class="fa fa-users"></i>{{urlP.menu_category}}<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="{{urlP.url}}">{{urlP.name}}</a></li>
            {% else %}
              {% if loop.index == 1%}
                  <ul class="nav child_menu">
                    {% if urlP.show_menu %}
                      <li><a href="{{urlP.url}}">{{urlP.name}}</a></li>
                    {% endif %}
              {% else %}
                {% if urlP.show_menu %}
                  <li><a href="{{urlP.url}}">{{urlP.name}}</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
            {% set catant = urlP.menu_category %}
					{% endfor %}
        </ul>
      </li>
				</ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <!-- <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a> -->
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						{% if usuario.arquivo_foto %}
							<img src="/documentos/{{usuario.arquivo_foto}}" alt="Profile Image" />
						{% else %}
							<img src="/assets/images/user.png" alt="Profile Image" />
						{% endif %}{{usuario.name}}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="/meusdados"> Meus Dados</a></li>
						<!--<li>
							<a href="javascript:;">
								<span class="badge bg-red pull-right">50%</span>
								<span>Configurações</span>
							</a>
						</li>
						<li><a href="javascript:;">Ajuda</a></li>-->
						<li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
					</ul>
				</li>

				<li role="presentation" class="dropdown">
					<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-envelope-o"></i>
						{% if observacoes > 0 %}
							<span class="badge bg-green">{{observacoes}}</span>
						{% endif %}
					</a>
					{% if listaobservacoes > 0 %}
						<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
							{% for dia in listaobservacoes|slice(0,10)  %}
							<li>
								<a>
									<span>
										<span>{{dia.despachante}}</span>
										<span class="time">{{dia.data_gravacao|date('d/m/Y h:m:s', timezone="Europe/Paris")}}</span>
									</span>
									<span class="message">
										{{dia.observacao|raw}}
									</span>
								</a>
							</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</div>
			<!-- /top navigation -->
