<nav>
  <ul class="side-menu toggle-menu">
    {% for urlP in usuario.urlsPermitidas %}
    {% if urlP.exibirmenu == 1 %}
      <li class="slide">
        <a class="side-menu__item"  href="{{urlP.url}}">
          {% if urlP.nome == 'Funcionalidades' %}
            <i class="fe fe-briefcase mr-2"></i>
          {% else %}
            <i class="side-menu__icon mdi mdi-comment-outline"></i>
          {% endif %}
          <span class="side-menu__label">{{urlP.nome}}</span>
        </a>
      </li>
      {% endif %}
    {% else %}
      <p>Sem funcionalidades cadastradas.</p>
    {% endfor %}    
  </ul>
</nav>
