<footer>
  Rodape
</footer>

<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/custom.min.js" type="text/javascript"></script>
<script src="/assets/js/pnotify/pnotify.js" type="text/javascript"></script>
<script src="/assets/js/pnotify/pnotify.buttons.js" type="text/javascript"></script>
<script src="/assets/js/pnotify/pnotify.nonblock.js" type="text/javascript"></script>
<script src="/assets/js/switchery.min.js" type="text/javascript"></script>
<script src="/assets/js/icheck.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.validity.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.validity.lang.en.js" type="text/javascript"></script>
<script src="/assets/js/jquery.mask.min.js" type="text/javascript"></script>
